/*CSS - Text font*/
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*CSS - Variables*/
:root {
  --background-color: hsl(185, 75%, 39%);
  --color-bold: hsl(229, 23%, 23%);
  --color-text: hsl(252, 3%, 71%);
  --color-split: hsla(0, 0%, 92%, 1);
  --color-age: hsla(0, 0%, 54%, 1);
}
/*CSS - Normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CSS - Reusable code*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*CSS - Reusable code*/
.flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/**CSS - Container component**/
body {
  background-color: var(--background-color);
  background-image: url(../images/bg-pattern-top.svg),
    url("../images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 25vh, left 50vw top 45vh;
  /*--*/
  padding-top: 25vh;
}
/*CSS - component*/
.profile-card {
  position: relative;
  /*--flex-center-column*/
  justify-content: flex-start;
  /*--*/
  background-color: #fff;
  /*--*/
  max-width: 350px;
  min-width: 260px;
  height: 375px;
  /*--*/
  margin: auto;
  /*--*/
  border-radius: 20px;
}
/**CSS - first element**/
.profile-card__pictures {
  width: 100%;
  flex-basis: 32%;
  /*--*/
  background-image: url("../images/bg-pattern-card.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /*--*/
  border-radius: 20px 20px 0 0;
}
.profile-card__container-image {
  background-color: #fff;
  /*--*/
  position: absolute;
  /*--*/
  width: 35%;
  /*--*/
  border-radius: 50%;
  /*--*/
  margin-left: 32.5%;
  margin-top: 60px;
}
.profile-card__image {
  margin-top: 5%;
  margin-left: 5%;
  /*--*/
  width: 90%;
  height: 90%;
  /*--*/
  border-radius: 50%;
}
/**CSS - second element**/
.profile-card__user {
  width: 100%;
  /*--*/
  flex-grow: 1;
  /*--*/
  margin-top: 25%;
  margin-bottom: 5%;
}
.profile-card__container-user {
  margin-bottom: 2%;
}
.profile-card__user-name {
  display: inline-block;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.profile-card__user-age {
  color: var(--color-age);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.profile-card__user-city {
  display: block;
  /*--*/
  color: var(--color-text);
  /*--*/
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}
/**CSS - third element**/
.profile-card__split {
  width: 100%;
  /*--*/
  border: none;
  border-bottom: 0.5px solid var(--color-split);
}
/**CSS - fourth element**/
.profile-card__info {
  width: 100%;
  flex-basis: 25%;
  /*--flex-center*/
  justify-content: space-evenly;
}
.social-info {
  display: block;
}
.social-info__amount {
  color: var(--color-bold);
  /*--*/
  font-size: 20px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  /*--*/
  margin-bottom: 5%;
}
.social-info__user-info {
  display: block;
  /*--*/
  color: var(--color-text);
  /*--*/
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
}
/*CSS - Changes for the adaptation responsive*/
@media screen and (max-width: 300px) {
  body {
    background-size: cover;
    background-position: right 40vw bottom 30vh, left 50vw top 60vh;
  }
  .profile-card__container-image {
    width: 50%;
    margin-left: 25%;
  }
  .social-info__amount {
    font-size: 18px;
  }
  .social-info__user-info {
    font-size: 12px;
  }
}
